@font-face {
  font-family: "Ailerons";
  src: url("./fonts/Ailerons\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
}

*::selection {
  /* color: #6800ff; */
  background-color: #6800ff22;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.title {
  position: absolute;
  top: calc(50% - 14vmin / 2);
  left: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: Ailerons, Arial, Helvetica, sans-serif;
  font-size: 14vmin;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu .bar {
  width: 50%;
  height: 2px;
  margin-bottom: 6px;
  background-color: #ffffff;
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ffffff;
  text-align: right;
  font-family: "Roboto", sans-serif;
}

.credits a {
  color: inherit;
}
